<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>MyProject_02</title>
    <link rel="stylesheet" th:href="@{/css/contract/register.css}">
</head>
<body>
    <h1>Contract管理システム</h1>
    <h2>Contract登録</h2>
    <form method="post" th:action="@{/contract/register}" th:object="${contract}">
        <label for="dates">年月</label>
        <input type="text" th:field="*{dates}">
        <br>
        <label for="dollar">ドル貨</label>
        <input type="text" th:field="*{dollar}">
        <br>
        <label for="rate">為替レート</label>
        <input type="text" th:field="*{rate}">
        <br>
        <label for="yen">円貨</label>
        <input type="text" th:field="*{yen}">
        <br>
        <br>
        <input type="submit" value="登録実行">
        <a th:href="@{/contract/list}">登録せずに一覧に戻る</a>
    </form>
</body>
</html>